# Datamining on Stroke Dataset

In [1]:
# Standard imports
import warnings
import pandas as pd
import numpy as np
import sklearn as sk
import matplotlib.pyplot as plt
import time

## Data Preprocessing (Exploration and Cleaning)

In [2]:
data = pd.read_csv('healthcare-dataset-stroke-data.csv')
data.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

Drop unnecessary columns

In [3]:
data.drop('id', axis=1, inplace=True)
data.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

Check for missing values

In [4]:
# Check for null values in every column
missing_gender = data['gender'].isnull().sum()
print("# of missing gender values: ", missing_gender)

missing_age = data['age'].isnull().sum()
print("# of missing age values: ", missing_age)

missing_hypertension = data['hypertension'].isnull().sum()
print("# of missing hypertension values: ", missing_hypertension)

missing_heart_disease = data['heart_disease'].isnull().sum()
print("# of missing heart_disease values: ", missing_heart_disease)

missing_ever_married = data['ever_married'].isnull().sum()
print("# of missing ever_married values: ", missing_ever_married)

missing_work_type = data['work_type'].isnull().sum()
print("# of missing work_type values: ", missing_work_type)

missing_Residence_type = data['Residence_type'].isnull().sum()
print("# of missing Residence_type values: ", missing_Residence_type)

missing_avg_glucose_level = data['avg_glucose_level'].isnull().sum()
print("# of missing avg_glucose_level values: ", missing_avg_glucose_level)

missing_bmi = data['bmi'].isnull().sum()
print("# of missing bmi values: ", missing_bmi)

missing_smoking_status = data['smoking_status'].isnull().sum()
print("# of missing smoking_status values: ", missing_smoking_status)

missing_stroke = data['stroke'].isnull().sum()
print("# of missing stroke values: ", missing_stroke)

# of missing gender values:  0
# of missing age values:  0
# of missing hypertension values:  0
# of missing heart_disease values:  0
# of missing ever_married values:  0
# of missing work_type values:  0
# of missing Residence_type values:  0
# of missing avg_glucose_level values:  0
# of missing bmi values:  201
# of missing smoking_status values:  0
# of missing stroke values:  0

In [5]:
stroke_dist = len(data[data['stroke']==1].index)/len(data.index)
null_bmi = data[data['bmi'].isnull()]
null_stroke_dist = len(null_bmi[null_bmi['stroke']==1].index)/len(null_bmi.index)
print('Percent of patients that experienced stroke:', stroke_dist)
print('Percent of patients without a measured BMI that experienced stroke:', null_stroke_dist)

Percent of patients that experienced stroke: 0.0487279843444227
Percent of patients without a measured BMI that experienced stroke: 0.19900497512437812

We can see that there are NaN values for BMI, here we chose to use imputation to clean the data. We choose to use imputation over a deletion method because we believe this would introduce less bias. We see that the proportion of missing values is greater in the positive case (i.e., had a stroke) compared to the general distribution of data. This would make list wise deletion introduce bias and remove samples at a greater proportion for the positive case. One problem with using univariate imputation is that BMI is highly variable and the distribution of data could still introduce bias. Here we choose to use multivariate imputation to attempt to address this problem.

In [8]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

imp = IterativeImputer(max_iter=10, random_state=0)
hot_data = pd.DataFrame(imp.fit_transform(hot_data), columns=list(hot_data.columns))
hot_data

,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke,gender_Male,gender_Female,gender_Other,ever_married_Yes,...,work_type_Self-employed,work_type_Govt_job,work_type_children,work_type_Never_worked,Residence_type_Urban,Residence_type_Rural,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes,smoking_status_Unknown
0,67.0,0.0,1.0,228.69,36.600000,1.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
1,61.0,0.0,0.0,202.21,31.171222,1.0,0.0,1.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
2,80.0,0.0,1.0,105.92,32.500000,1.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
3,49.0,0.0,0.0,171.23,34.400000,1.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
4,79.0,1.0,0.0,174.12,24.000000,1.0,0.0,1.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5105,80.0,1.0,0.0,83.75,32.263355,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
5106,81.0,0.0,0.0,125.20,40.000000,0.0,0.0,1.0,0.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
5107,35.0,0.0,0.0,82.99,30.600000,0.0,0.0,1.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
5108,51.0,0.0,0.0,166.29,25.600000,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
5109,44.0,0.0,0.0,85.28,26.200000,0.0,0.0,1.0,0.0,1.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

Standardize all numerical data

In [ ]:
# Standardize the age, avg_glucose_level, and bmi columns
numerical_cols = ["age", "avg_glucose_level", "bmi"]
for c in numerical_cols:
    data[c] = (data[c] - data[c].mean()) / data[c].std()
    
data.head()

Create box plots for all numerical data

In [ ]:
# Boxplot for age
data.boxplot(column=['age'])

In [ ]:
# Boxplot for glucode level
data.boxplot(column=['avg_glucose_level'])

In [ ]:
# Boxplot for BMI
data.boxplot(column=['bmi'])

Create bar charts for all categorical data

In [ ]:
# Bar chart for gender counts
data["gender"].value_counts().plot(kind='bar')

In [ ]:
# Bar chart for hypertension counts
data["hypertension"].value_counts().plot(kind='bar')

In [ ]:
# Bar chart for heart_disease counts
data["heart_disease"].value_counts().plot(kind='bar')

In [ ]:
# Bar chart for ever_married counts
data["ever_married"].value_counts().plot(kind='bar')

In [ ]:
# Bar chart for work_type counts
data["work_type"].value_counts().plot(kind='bar')

In [ ]:
# Bar chart for Residence_type counts
data["Residence_type"].value_counts().plot(kind='bar')

In [ ]:
# Bar chart for smoking_status counts
data["smoking_status"].value_counts().plot(kind='bar')

In [ ]:
# Bar chart for stroke counts
data["stroke"].value_counts().plot(kind='bar')

In [ ]:
# Remove some outliers

# From average glucose level
data = data[(np.abs(stats.zscore(data["avg_glucose_level"])) < 3)]

# From BMI
data = data[(np.abs(stats.zscore(data["bmi"])) < 3)]

print(f"New dataset shape: {data.shape}")
data.head()

**One-Hot Encoding**


Create a version of the dataset that is one-hot encoded

In [7]:
hot_data = data.copy()
categorical_columns = ["gender", "ever_married", "work_type", "Residence_type", "smoking_status"]

for c in categorical_columns:
    vals = hot_data[c].unique()
    for v in vals:
        hot_data[f"{c}_{v}"] = hot_data[c].apply(lambda c_val: 1 if c_val == v else 0)
    hot_data.drop(c, axis=1, inplace=True)
print(hot_data.shape)
hot_data.head()

(5110, 22)

,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke,gender_Male,gender_Female,gender_Other,ever_married_Yes,...,work_type_Self-employed,work_type_Govt_job,work_type_children,work_type_Never_worked,Residence_type_Urban,Residence_type_Rural,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes,smoking_status_Unknown
0,67.0,0,1,228.69,36.6,1,1,0,0,1,...,0,0,0,0,1,0,1,0,0,0
1,61.0,0,0,202.21,NaN,1,0,1,0,1,...,1,0,0,0,0,1,0,1,0,0
2,80.0,0,1,105.92,32.5,1,1,0,0,1,...,0,0,0,0,0,1,0,1,0,0
3,49.0,0,0,171.23,34.4,1,0,1,0,1,...,0,0,0,0,1,0,0,0,1,0
4,79.0,1,0,174.12,24.0,1,0,1,0,1,...,1,0,0,0,0,1,0,1,0,0

## Data Mining (Testing Different Models)

In [ ]:
# Separating labels from the rest of the data
data_Y = data['stroke']
data_X = data.drop(['stroke'], axis=1)
print(data_X.shape)
print(data_Y.shape)

hot_data_Y = hot_data['stroke']
hot_data_X = hot_data.drop(['stroke'], axis=1)

**Decision Trees**

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score 
from sklearn.model_selection import cross_val_score

print("\nUsing criterion: Entropy")
clf = DecisionTreeClassifier(criterion='entropy')
scores = cross_val_score(clf, hot_data_X, hot_data_Y, cv=10)
print(f"Accuracy: {scores.mean() * 100}")

print("\nUsing criterion: Gini")
clf = DecisionTreeClassifier(criterion='gini')
scores = cross_val_score(clf, hot_data_X, hot_data_Y, cv=10)
print(f"Accuracy: {scores.mean() * 100}")

print("\nUsing criterion: max_depth of 10")
clf = DecisionTreeClassifier(criterion='entropy', max_depth=10)
scores = cross_val_score(clf, hot_data_X, hot_data_Y, cv=10)
print(f"Accuracy: {scores.mean() * 100}")

print("\nUsing criterion: max_depth of 1")
clf = DecisionTreeClassifier(criterion='entropy', max_depth=1)
scores = cross_val_score(clf, hot_data_X, hot_data_Y, cv=10)
print(f"Accuracy: {scores.mean() * 100}")

print("\nUsing criterion: min_samples_split = 20")
clf = DecisionTreeClassifier(criterion='entropy', min_samples_split=20)
scores = cross_val_score(clf, hot_data_X, hot_data_Y, cv=10)
print(f"Accuracy: {scores.mean() * 100}")

print("\nUsing criterion: min_samples_leaf = 10")
clf = DecisionTreeClassifier(criterion='entropy', min_samples_split=10)
scores = cross_val_score(clf, hot_data_X, hot_data_Y, cv=10)
print(f"Accuracy: {scores.mean() * 100}")

print("\nUsing criterion: min_impurity_decrease = .9")
clf = DecisionTreeClassifier(criterion='entropy', min_impurity_decrease=.9)
scores = cross_val_score(clf, hot_data_X, hot_data_Y, cv=10)
print(f"Accuracy: {scores.mean() * 100}")

So far, the best accuracy was produced by decreasing the max depth or using a min_impurity_decrease. We can further try more combinations using a GridSearchCV.

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report

params = {
    "max_depth": [1, 3, 5, 10, 20], 
    "min_samples_split": [5, 10, 20], 
    "min_samples_leaf": [1, 3, 5, 10, 20], 
    "max_features": [1, 3, 5, 10, 20],
    "min_impurity_decrease": [.1, .3, .5, .9]}

grid_search = GridSearchCV(clf, params, cv=5, scoring="accuracy")
grid_search.fit(hot_data_X, hot_data_Y)
print(grid_search.best_params_)
print(f"Accuracy: {grid_search.best_score_*100}")

In [ ]:
preds = grid_search.predict(hot_data_X)
print("\nClassification Report:")
print(classification_report(hot_data_Y, preds))

The "best" decision tree simply chooses the "no stroke" label every almost every time, which produces a poor f-score. We can try to fix this by undersampling the majority class.

In [ ]:
num_stroke = hot_data["stroke"].sum()
print(f"number of records with stroke: {num_stroke}")

# sample equally
balanced_hot_data = hot_data.groupby('stroke').apply(lambda x: x.sample(num_stroke))
balanced_hot_data_Y = balanced_hot_data['stroke']
balanced_hot_data_X = balanced_hot_data.drop(['stroke'], axis=1)
balanced_hot_data.head()

In [ ]:
# Generating another Decision Tree using balanced_hot_data
params = {
    "max_depth": [1, 3, 5, 10, 20], 
    "min_samples_split": [5, 10, 20], 
    "min_samples_leaf": [1, 3, 5, 10, 20], 
    "max_features": [1, 3, 5, 10, 20],
    "min_impurity_decrease": [.1, .3, .5, .9]}

grid_search = GridSearchCV(clf, params, cv=5, scoring="accuracy")
grid_search.fit(balanced_hot_data_X, balanced_hot_data_Y)
print(grid_search.best_params_)
print(f"Accuracy: {grid_search.best_score_*100}")

In [ ]:
preds = grid_search.predict(balanced_hot_data_X)
print("\nClassification Report:")
print(classification_report(balanced_hot_data_Y, preds))

The average f-score is greatly improved now! However, we only have a 74.25% accuracy.

**Naive Bayes**

In [ ]:
from sklearn.naive_bayes import GaussianNB
# from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.model_selection import cross_val_predict

# Use a gaussian Naive Bayes with 10-fold cross validation
gnb = GaussianNB()
preds = cross_val_predict(gnb, balanced_hot_data_X, balanced_hot_data_Y, cv=10)
print("\nClassification Report:")
print(classification_report(balanced_hot_data_Y, preds))

Standard gaussian Naive Bayes produces a low accuracy and f-score compared to the decision tree.

**K-Nearest Neighbors**


Since KNN suffers from the curse of dimensionality, we will have to perform dimensionality reduction. We use a GridSearchCV to perform hyperparamter tuning.

In [ ]:
from sklearn.decomposition import PCA
from sklearn.neighbors import KNeighborsClassifier
from sklearn.pipeline import Pipeline

pca = PCA()
knn = KNeighborsClassifier(n_neighbors=7)
pline = Pipeline(steps=[("pca", pca), ("knn", knn)])

param_grid = {
    'pca__n_components': list(range(5, 21)),
    'knn__n_neighbors': list(range(1, 25))
}

grid_search = GridSearchCV(pline, param_grid, cv=5, scoring="accuracy")
grid_search.fit(hot_data_X, hot_data_Y)
print(grid_search.best_params_)
print(f"Accuracy: {grid_search.best_score_*100}")

In [ ]:
preds = grid_search.predict(hot_data_X)
print("\nClassification Report:")
print(classification_report(hot_data_Y, preds))

Again, this produces a poor f-score so we will try again on the balanced one-hot-encoded dataset

In [ ]:
from sklearn.decomposition import PCA
from sklearn.neighbors import KNeighborsClassifier
from sklearn.pipeline import Pipeline

grid_search.fit(balanced_hot_data_X, balanced_hot_data_Y)
print(grid_search.best_params_)
print(f"Accuracy: {grid_search.best_score_*100}")

In [ ]:
preds = grid_search.predict(balanced_hot_data_X)
print("\nClassification Report:")
print(classification_report(balanced_hot_data_Y, preds))

This model appears to be more successful than the one built using a decision tree.

**Support Vector Machines**

We again use a GridSearchCV to perform hyperparamter tuning. We will also use the balanced one-hot-encoded dataset.

In [ ]:
from sklearn.svm import SVC

pca = PCA()
svc = SVC()
pline = Pipeline(steps=[("pca", pca), ("svc", svc)])

param_grid = {
    'pca__n_components': list(range(5, 19)),
    'svc__kernel': ['linear', 'rbf', 'poly']
}

grid_search = GridSearchCV(pline, param_grid, cv=5, scoring="accuracy")
grid_search.fit(balanced_hot_data_X, balanced_hot_data_Y)
print(grid_search.best_params_)
print(f"Accuracy: {grid_search.best_score_*100}")

In [ ]:
preds = grid_search.predict(balanced_hot_data_X)
print("\nClassification Report:")
print(classification_report(balanced_hot_data_Y, preds))

**Random Forests**

In [ ]:
from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier()
param_grid = {
    'max_depth': list(range(5, 61, 5)),
    'min_samples_leaf': [2, 31, 4],
    'max_features': ["sqrt", "log2"]
}

grid_search = GridSearchCV(rfc, param_grid, cv=5, scoring="accuracy")
grid_search.fit(balanced_hot_data_X, balanced_hot_data_Y)
print(grid_search.best_params_)
print(f"Accuracy: {grid_search.best_score_*100}")

In [ ]:
preds = grid_search.predict(balanced_hot_data_X)
print("\nClassification Report:")
print(classification_report(balanced_hot_data_Y, preds))

Random Forests produce the best f-score and accuracy by far!